#!/usr/bin/make -f

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
DEB_BUILD_OPTIONS   ?= debug nostrip

CFLAGS += -g -Wall
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	dh_auto_configure -- --disable-desktopfiles \
		--enable-static --enable-shared \
		--disable-xmltools --disable-djview \
		--disable-i18n
	touch $@

clean:
	dh_testdir
	dh_testroot

	[ ! -f Makefile ] || $(MAKE) clean

	dh $@

build: build-stamp
build-stamp: configure
	dh_testdir
	$(MAKE)
	touch $@


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install	DESTDIR=$(CURDIR)/debian/tmp

binary: binary-indep binary-arch

binary-indep: install

binary-arch: install
	dh_testdir
	dh_testroot

	dh_install -s --sourcedir=debian/tmp
	dh_link -s
	dh_strip -s --dbg-package=libdjvulibre-dbg
	dh_compress -s
	dh_fixperms -s
	dh_makeshlibs -s
	dh_installdeb -s
	dh_shlibdeps -s
	dh_gencontrol -s
	dh_builddeb -s

.PHONY: build clean binary-indep binary-arch binary install
